.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav ul{
	position:absolute;
	top: 0;
	right: 0;
}

nav li{
	display: inline;
	position: relative;
	right: 30px;
}

nav a{
	font-size: 25px;
	margin-right: 15px;
	color: blue;
	text-decoration: none;
}