.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

header{
	background-image: url(fundo.jpg);
	height: 150px;
}

h1{
	position: relative;
	top: 60px;
	left: 60px;

}

nav ul{
	position:absolute;
	top: 70px;
	right: 0;
}

nav li{
	display: inline;
	position: relative;
	right: 30px;
	text-transform: uppercase;
}

nav li:hover{
	color:#00008B;
	text-decoration: underline;
	font-weight: bold;
}

nav a{
	font-size: 25px;
	margin-right: 15px;
	color: blue;
	text-decoration: none;
	font-weight: bold;
}

.banner{
	width: 100%;
}

.caixa-main{
	position: relative;
	width: 940;
	margin: 120px auto;
}

.caixa-main img{
	width: 200px;
	height: 150px;
}

.caixa-main li{
	display: inline-block;
	margin-right: 30px;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	padding: 50 20 ;
}

.caixa-main li:hover{
	border: 3px solid #00008B;
}

.caixa-main h2{
	font-size: 20px;
	font-style: italic;
	margin: 0 0 15 0;

}

.caixa-main p {
	margin: 15 0 0 0;
}

form label, legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;

}

form input,{
display: block;
margin-top: 50px 0 0;

}

.estilo-formulario{
	display: block;
	width: 50%;
	padding: 10px;
	margin: 0 0 20px;
}

.options{
	margin: 0 0 15px;
}

.enviar{
	margin-top: 15px;
	font-size: 20px;
	padding: 15px;
	background:#FFAF0F;
	color: white;
	border: none;
	border-radius: 10px;
	width: 35%;
	font-weight: bold;
	transition: 1s all;
}

.enviar:hover{
	background:#DB8E0A;
	transform: scale(1.2);
}



footer{
	background: #DCDCDC;
	text-align: center;
	padding: 10px;

}

footer img{
	width: 100px;
}

footer p{
	font-size: 12px;
}