.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

header{
	background-image: url(fundo.jpg);
	height: 150px;
}

h1{
	position: relative;
	top: 60px;
	left: 60px;

}

nav ul{
	position:absolute;
	top: 70px;
	right: 0;
}

nav li{
	display: inline;
	position: relative;
	right: 30px;
}

nav a{
	font-size: 25px;
	margin-right: 15px;
	color: blue;
	text-decoration: none;
}